
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cactus Classical Serif", serif;
    background-color: #F4E1C1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
}

.text-section {
    flex: 1;
    padding: 20px;
    text-align: left;
    max-width: 50%;
}

.text-section h1 {
    font-size: 2.5rem;
    color: #6F2B2B;
    border: 5px solid #6F2B2B;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
}

.text-section p {
    font-size: 2rem;
    margin-top: 20px;
    color: #6F2B2B;
    font-weight: 500;
}

.login-form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #6F2B2B;
    font-weight: 500;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 12px 20px;
    background-color: #F1D3B1;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    color: #6F2B2B;
    width: 100%;
}

.register-btn {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #6F2B2B;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    width: 100%;
    text-align: center;
}

.image-section {
    flex: 1;
    max-width: 50%; 
    text-align: right;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gender {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.gender-item {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

.gender-item:last-child {
    margin-right: 0; 
}

.gender input[type="radio"] {
    margin-right: 5px;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    transform: scale(1.2);
}


.gender label {
    margin-right: 5px;
    color: #6F2B2B;
}

/* --- RWD --- */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        max-width: 100%;
        padding: 20px;
    }

    .text-section {
        max-width: 100%;
        text-align: center;
    }

    .image-section {
        max-width: 100%;
        text-align: center;
    }

    .image-section img {
        max-width: 80%;
        margin-top: 20px;
    }

    .login-form input, .login-form button, .register-btn {
        max-width: 100%;
    }
}
